In [41]:
import pandas as pd


uni_data = [{"alpha_two_code":"FR","country":"France","domains":["insa-toulouse.fr"],"name":"National Institute of Applied Sciences of Toulouse","state-province":'null',"web_pages":["https://insa-toulouse.fr"]},{"alpha_two_code":"IN","country":"India","domains":["davietjal.org"],"name":"DAV Institute of Engineering & Technology","state-province":"Punjab","web_pages":["http://www.davietjal.org/"]},{"alpha_two_code":"US","country":"United States","domains":["digipen.edu"],"name":"DigiPen Institute of Technology","state-province":'null',"web_pages":["https://www.digipen.edu/"]},{"alpha_two_code":"US","country":"United States","domains":["scripps.edu"],"name":"The Scripps Research Institute","state-province":'null',"web_pages":["https://scripps.edu/"]},{"alpha_two_code":"US","country":"United States","domains":["itt-tech.info","itt-tech.edu"],"name":"ITT Technical Institute","state-province":'null',"web_pages":["http://itt-tech.info/"]}]

pd_data = pd.DataFrame(uni_data)
print(pd_data)

  alpha_two_code        country                        domains  \
0             FR         France             [insa-toulouse.fr]
1             IN          India                [davietjal.org]
2             US  United States                  [digipen.edu]
3             US  United States                  [scripps.edu]
4             US  United States  [itt-tech.info, itt-tech.edu]

                                                name state-province  \
0  National Institute of Applied Sciences of Toul...           null
1          DAV Institute of Engineering & Technology         Punjab
2                    DigiPen Institute of Technology           null
3                     The Scripps Research Institute           null
4                            ITT Technical Institute           null

                     web_pages
0   [https://insa-toulouse.fr]
1  [http://www.davietjal.org/]
2   [https://www.digipen.edu/]
3       [https://scripps.edu/]
4      [http://itt-tech.info/]

In [43]:
for key, value in pd_data.items():
    if key == 'domains' or key == 'web_pages' or key == 'alpha_two_code':
        pd_data = pd_data.drop([key], axis=1)
pd_data = pd_data.replace('null', '')
print(pd_data)

         country                                               name  \
0         France  National Institute of Applied Sciences of Toul...
1          India          DAV Institute of Engineering & Technology
2  United States                    DigiPen Institute of Technology
3  United States                     The Scripps Research Institute
4  United States                            ITT Technical Institute

  state-province
0
1         Punjab
2
3
4

In [1]:
import requests
import pandas as pd

pd_data = pd.DataFrame()
responce = requests.get('http://universities.hipolabs.com/search')
responce = responce.json()
pd_data = pd.DataFrame(responce)

for key, value in pd_data.items():
    if key == 'domains' or key == 'web_pages':
        pd_data = pd_data.drop([key], axis=1)

pd_data['uni_type'] = pd_data['name']
for index, row in pd_data.iterrows():
    if 'College' in row['name']:
        pd_data.at[index, 'uni_type'] = 'College'
    elif 'Univer' in row['name']:
        pd_data.at[index, 'uni_type'] = 'University'
    elif 'Institute' in row['name']:
        pd_data.at[index, 'uni_type'] = 'Institute'
    else:
        pd_data.at[index, 'uni_type'] = ''

pd_data = pd_data.rename(columns = {'state-province':'state_province'})

pd_data

,name,alpha_two_code,state_province,country,uni_type
0,West Herts College,GB,None,United Kingdom,College
1,National Institute of Applied Sciences of Toul...,FR,None,France,Institute
2,Mohamed bin Zayed University of Artificial Int...,AE,Abu Dhabi,United Arab Emirates,University
3,"Centro Universitário de Brasília, UNICEUB",BR,None,Brazil,University
4,Kharkiv National University,UA,None,Ukraine,University
...,...,...,...,...,...
10022,University of Mount Olive,US,North Carolina,United States,University
10023,The University of Olivet,US,Michigan,United States,University
10024,Westminster University,US,"Salt Lake City, Utah",United States,University
10025,Dominican University,US,Illinois,United States,University
10026,Gandaki University,NP,None,Nepal,University

In [91]:
for index, row in pd_data.iterrows():
    if 'College' in row['name']:
        pd_data.at[index, 'uni_type'] = 'College'
    elif 'Univer' in row['name']:
        pd_data.at[index, 'uni_type'] = 'University'
    elif 'Institute' in row['name']:
        pd_data.at[index, 'uni_type'] = 'Institute'
    else:
        pd_data.at[index, 'uni_type'] = ''

In [94]:
pd_data.to

,country,alpha_two_code,state-province,name,uni_type
0,United Kingdom,GB,None,West Herts College,College
1,France,FR,None,National Institute of Applied Sciences of Toul...,Institute
2,United Arab Emirates,AE,Abu Dhabi,Mohamed bin Zayed University of Artificial Int...,University
3,Brazil,BR,None,"Centro Universitário de Brasília, UNICEUB",University
4,Ukraine,UA,None,Kharkiv National University,University
...,...,...,...,...,...
10022,United States,US,North Carolina,University of Mount Olive,University
10023,United States,US,Michigan,The University of Olivet,University
10024,United States,US,"Salt Lake City, Utah",Westminster University,University
10025,United States,US,Illinois,Dominican University,University
10026,Nepal,NP,None,Gandaki University,University